.story-curve-hint.tags:last-child {
  margin-bottom: -1rem;
}

.character-vis-hint.tags:last-child {
  margin-bottom: -1.2rem;
}

.tags.has-addons {
  width: 300px;
}

.character-vis-hint .arrow-left {
    margin-bottom: .55rem;
    width: 0;
    height: 0;
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-right: .3em solid #363636;
}

.story-curve-hint .arrow-left {
    margin-bottom: .5rem;
    width: 0;
    height: 0;
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-right: .3em solid #363636;
}

.tag:not(body) {
  height: .8rem;
  font-size: .6rem;
  padding: .4rem .3rem;
}

.card-header {
  padding: 0px;
  background-color: white;
}

.card {
  margin: .3rem 0;
}

.card-content {
  padding: .5rem;
}

.card-header {
  height: 2.5rem;
  cursor: pointer;
}

.card-footer {
  height: 2.5rem;
}

.card-header-title {
  padding: 0rem .6rem;
}

.card-footer {
  padding: 0px;
  background-color: white;
}

.rv-hint  {
  z-index: 100;
}

.button {
  margin-right: .3rem;
}

.inline-label-vis .level:not(:last-child){
  margin-bottom: 0rem;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-detail {
  margin-right: .3rem;
}